body{
	background-color: #141414;
	color: #fff;
}
.btn-link{
	margin-top: 1vh;
}
.footer{
	padding-top: 2vh;
	min-height: 8vh;
	color: #fff;
}
.large-image{
	max-height: 60vh;
	margin-left: auto;
	margin-right: auto;
}
.important{
	padding: 2%;
	font-size: 1.6rem;
}
.extended{
	padding: 1.5%;
}
.list{
	background-color: #e8e8e8;
}
#shop{
	display: none;
}
#cover{
	height: 86vh;
}
#proceed{
	margin-top: 3vh;
	margin-bottom: 1vh;
}
.inner.lead{
	margin-bottom: 5vh;
}
h1{
	margin-top: 3vh;
	margin-bottom: 5vh;
}
.contact{
	padding-top: 7vh;
}

#about{
	padding: 2%;
	margin-bottom: 2vh;
}
.admin{
	padding-top: 7vh;
	min-height: 86vh;
}

.orders{
	margin-top: 5vh;
	min-height: 20vh;
}
#register{
	opacity: .1;
}
#register:hover{
	opacity: 1;
}
#login{
	opacity: .6;
}
#login:hover{
	opacity: 1;
}
.template-render{
	min-height: 80vh;
	padding-bottom: 1.5vh;
}
.icon-list{
	color: #000; height: 160px;
	overflow-y: hidden;
	margin-top: 0.7vh;
}
.template-render.about,
.template-render.contact,
.template-render.home,
.template-render.login,
.template-render.open-icon,
.template-render.search {
	min-height: 83.5vh !important;
}

#alert {
	display: none;
}

.login h4.text-center.alert, .open-icon h1.animated, .shop h2.alert {
	font-size:calc(18px + 0.7vw);
	padding-left: calc(2px + 0.5vw);
	font-weight: bold;
}

.login h1.jumbotron-hr, .full-size h1.jumbotron-hr {
	font-size:calc(16px + 0.7vw); padding-left: calc(2px + 0.5vw); font-weight: bold;
}

.open-icon .btn.btn-block.btn-danger span:last-child {
	font-size:calc(11px + 0.5vw);
	font-weight: bold;
}

.search .form-inline .form-control, .shop .form-inline .form-control{
	width: 60% !important;
	display: inline-block !important;
}

.search .form-inline .btn, .shop .form-inline .btn {
	display: inline-block !important;
}

.list-group-item.table-bordered {
	color: #000;
	min-height: calc(500px - 50vw);
	margin-top: calc(2px + 1vw);
	overflow-y: hidden;
}

.shop .pull-right .form-inline .btn-default {
	font-size:calc(9px + 0.7vw) !important;
	overflow-y: hidden !important;
}

.shop .pull-right, .shop .pull-left {
	padding-top: 5px;
	padding-bottom: 5px;
}

.list-group-item.table-bordered .list-group-item-heading {
	font-size:calc(16px + 0.7vw);
	padding-left: calc(2px + 0.5vw);
	font-weight: bold;
}

.list-group-item.table-bordered .list-group-item-text {
	max-height: 110px;
	overflow-y: hidden;
	padding-bottom: 2vh;
}

.list-group-item.table-bordered .table-striped {
	padding-top: calc(20px + 2vw);
	padding-bottom:calc(5px + 3vw);
}
.list-group-item.table-bordered .table-striped .btn.btn-lg.btn-default {
	font-size:calc(9px + 0.7vw);
	overflow-y: hidden;
}

.list-group-item .pull-left .img-responsive.img-thumbnail {
	max-height: 130px;
	margin-top: calc(6px + 0.3vw)
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}


@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInDown {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInDown {
	-webkit-animation-name: fadeInDown;
	animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDownBig {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, -2000px, 0);
		transform: translate3d(0, -2000px, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInLeft {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-100%, 0, 0);
		transform: translate3d(-100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInLeftBig {
	from {
		opacity: 0;
		-webkit-transform: translate3d(-2000px, 0, 0);
		transform: translate3d(-2000px, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@-webkit-keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInRight {
	from {
		opacity: 0;
		-webkit-transform: translate3d(100%, 0, 0);
		transform: translate3d(100%, 0, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight;
}

@-webkit-keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	to {
		opacity: 1;
		-webkit-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
}

.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp;
}

@-webkit-keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

@keyframes zoomIn {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}

	50% {
		opacity: 1;
	}
}

.zoomIn {
	-webkit-animation-name: zoomIn;
	animation-name: zoomIn;
}

@-webkit-keyframes zoomInDown {
	from {
		opacity: 0;
		-webkit-transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		transform: scale3d(0.1, 0.1, 0.1) translate3d(0, -1000px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
		animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}

	60% {
		opacity: 1;
		-webkit-transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		transform: scale3d(0.475, 0.475, 0.475) translate3d(0, 60px, 0);
		-webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
		animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1);
	}
}